body {
    padding: 0;
    margin: 0;
    background: rgb(236, 236, 236);
}

header {
    background: white;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;
    clear: right;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

.name {
    float: left;
    background: #4aaaa5;
    margin-left: 250px;
    padding: .2rem;
    width: 10rem;
    text-align: center;
    color: white;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

#topname {
    color: white;
    text-align: center;
}

ul {
    list-style: none;
    float: right;
    margin-right: 250px;
}

ul > li {
    display: inline-block;
    padding: .2rem;
}

.navbar-links {
    color: #777777;
    margin-top: 30px;
}

.container {
    margin-left: 250px;
    margin-right: 250px;
    height: 400px;
    background: white;
    border: 1px solid #dddddd;
    margin-top: 15px;
}

#aboutme {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2.2rem;
    display: block;
    padding-top: 0px;
}

hr {
    margin: -2.2rem 2.2rem 2.2rem 2.2rem;
}

#bio {
    margin-left: 2.2rem;
    display: inline-block;
}

#my-pic {
    float: left;
    padding-right: 2.2rem;
}

#biotext1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 34px;
    padding-right: 2.2rem;
    margin-top: -8px;
}

#biotext2 { 
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
    padding-right: 2.2rem;
    margin-top: 22px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    border-top: 7px solid #4aaaa5;
    height: 40px;
 }

 #copyright {
     color: white;
     font-size: xx-small;
     margin-top: 28px;
     text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    border-top: solid 2px teal;
    height: 50px;
}

 #copyright {
     color: white;
     font-size: xx-small;
     margin-top: 28px;
     text-align: center;
}

