body {
    padding: 0;
    margin: 0;
    background: rgb(236, 236, 236);
}

header {
    background: white;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;
    clear: right;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

.name {
    float: left;
    background: #4aaaa5;
    margin-left: 425px;
    padding: 0.2rem;
    width: 6rem;
    text-align: center;
    color: white;
    font-size: 11px;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
}

#topname {
    color: white;
    text-align: center;
}

ul {
    list-style: none;
    float: right;
    margin-right: 425px;
}

ul > li {
    display: inline-block;
    padding: .2rem;
}

.navbar-links {
    color: #777777;
    margin-top: 17px;
}

hr {
    margin: -1rem 1.2rem 1.2rem 1.2rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    border-top: 7px solid #4aaaa5;
    height: 40px;
 }

 #copyright {
     color: white;
     font-size: xx-small;
     margin-top: 28px;
     text-align: center;
}

#portfolio {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1.2rem;
    display: block;
    font-size: 20px;
}

#portfolio-container {
    margin-left: 1.2rem;
    display: inline-block;
}

.container2 {
    margin-left: 425px;
    margin-right: 425px;
    height: 515px;
    background: white;
}

#port-pic2 {
    padding-left: 1.2rem;
}

#port-pic3 {
    padding-top: 1.2rem;   
}

#port-pic4 {
    padding-left: 1.2rem;
    padding-top: 1.2rem;
}

#port-pic5 {
    padding-top: 1.2rem;   
}
